{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Convert currencies</h2>
            <hr>
            <form class="row" method="post">
                <div class="form-group col-xs-12 col-md-8">
                    <label class="sr-only" for="convert">Convert currencies</label>
                    <input name="calculationForm[convert]" type="text" class="form-control" id="convert" placeholder="convert GBP 100 to PLN" value="{{ convert_sentence }}">
                </div>
                <div class="form-group col-xs-12 col-md-4">
                    <button type="submit" class="btn btn-primary">Calculate it for me</button>
                </div>
            </form>
        </div>
        <br>
        <br>
        <div id="container">
            <h2>Converted currencies:</h2>
            <hr>

            {% for conversion in conversions %}
                {% if conversion.converted.error is defined %}
                    <p class="text-warning">{{ conversion.converted.error }}</p>
                {% else %}
                    <form class="row">
                        <div class="form-group col-xs-12 col-md-5">
                            <label class="sr-only" for="exampleInputAmount_{{ loop.index }}">Amount (in {{ known_currencies[conversion.input_currency].name_plural_en }})</label>
                            <div class="input-group">
                                <div class="input-group-addon">{{ known_currencies[conversion.input_currency].symbol }}</div>
                                <input type="text" class="form-control" id="exampleInputAmount_{{ loop.index }}" placeholder="Amount to send" readonly value="{{ conversion.base_amount|price_part('integer') }}">
                                <div class="input-group-addon">.{{ conversion.base_amount|price_part('decimals') }}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-2">
                            <label class="sr-only" for="rate_{{ loop.index }}">Exchange rate</label>
                            <input type="text" class="form-control " id="rate_{{ loop.index }}" placeholder="Exchange rate" readonly value="{{ conversion.converted.rate }}">
                        </div>
                        <div class="form-group col-xs-12 col-md-5">
                            <label class="sr-only" for="Receive_{{ loop.index }}">Receive (in {{ known_currencies[conversion.output_currency].name_plural_en }})</label>
                            <div class="input-group">
                                <div class="input-group-addon">{{ known_currencies[conversion.output_currency].symbol }}</div>
                                <input type="text" class="form-control" id="Receive_{{ loop.index }}" placeholder="Receive" readonly value="{{ conversion.converted.amount|price_part('integer') }}">
                                <div class="input-group-addon">.{{ conversion.converted.amount|price_part('decimals') }}</div>
                            </div>
                        </div>
                    </form>
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 28px; line-height: 2.1; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #icon-status { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #logo { display: inline-block; float: left; height: 68px; margin-right: 1em; margin-top: -4px; width: 124px; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
